Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
celery
redis
django-redis
django-celery-beat
django-on-heroku
gunicorn
whitenoise
psycopg2-binary
dj-database-url
requests
pylint-django
urllib3==1.25.3
